<html>
	<head> 
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"> </script>		
	</head>
	<body ng-app="">
	
		<input type="text" ng-model="firstName" placeholder="NIIT">
		{{firstName}}
		<p ng-bind="firstName"> </p>
	</body>
</html>