<html ng-app="myApp">
	<head> 
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"> </script>
	</head>
	
	<script>
	
		var app = angular.module("myApp", []);
		app.controller("myApp")
		
	
	</script>
	
	<body ng-init="firstnumber=10; secondNumber=20; thirdNumber = firstnumber + secondNumber">
		<p> 1111111 {{firstnumber + secondNumber}} </p>
		<p> {{thirdNumber}} </p>
		<p ng-bind="thirdNumber"> </p>
	</body>
	
</html>