<!DOCTYPE html>
<html>
	<script src="../../angular.min.js"> </script>
	<body>

		<div ng-app="myApp" ng-controller="countCtrl">

			<h1 ng-mousemove="increaseCount()">Mouse Over Me!</h1>
			{{count}}
		</div>
		
		<script>
			var app = angular.module("myApp", []);
			
			app.controller("countCtrl", function($scope) {
			
				$scope.count = 0;
				
				$scope.increaseCount = function() {
					$scope.count = $scope.count + 1;
				}
				
				
			
			});
		
		</script>
		
		
	</body>
</html>
