<!DOCTYPE html>
<html>
	<script src="../../angular.min.js"> </script>
	<body>

		<div ng-app="myApp" ng-controller="myCtrl">
		
			<p>Click the button to show/hide the menu.</p>
			
			<button ng-click="myFunc()">Click Me!</button>

			<div ng-show="showMe">
				<h1>Menu:</h1>
				<div>Pizza</div>
				<div>Pasta</div>
				<div>Pesce</div>
			</div>

		</div>
		<script>
			var app = angular.module('myApp', []);
			
			app.controller('myCtrl', function($scope) {
				$scope.showMe = true;
				
				$scope.myFunc = function() {
					$scope.showMe = !$scope.showMe;
				}
			});
		</script>

		

	</body>
</html>
