<!DOCTYPE html>
<html>
	<script src="../../angular.min.js"> </script>
	
	
	<body>
	
	<script>
		angular.module('myApp', []).controller('personCtrl', function($scope) {
			$scope.firstName = "AMIT",
			$scope.lastName = "Gupta"
		});
</script>

	<div ng-app="myApp" ng-controller="personCtrl">
		<p>The first name is {{ firstName | lowercase }}</p>
		<p>The last name is {{ lastName | uppercase }}</p>
		

	</div>



</body>
</html>
