<!DOCTYPE html>
<html>
	<script src="../../angular.min.js"> </script>
	<body>

	<div ng-app="myApp" ng-controller="costCtrl">

		<p>Price = {{ price | currency : "#### "}}</p>

	</div>

	<script>
		var app = angular.module('myApp', []);
		app.controller('costCtrl', function($scope) {
			$scope.price = 9.99;
		});
	</script>

		<p>You can change the currency symbol by setting the symbol parameter.</p>

	</body>
</html>
