<html ng-app="myApp">
	<head> 
		<script src="../../angular.min.js"> </script>
	</head>
	<script>
	
		var app = angular.module("myApp", []);
		app.filter('dashes' , function() {
			return function(text) {
				var chars = text.split("");
				return chars.join('-');
			}
		});
		
		app.filter('nodashes' , function() {
			return function(text) {
				var chars = text.split("-");
				return chars.join(' ');
			}
		});
	
	</script>
	<body>
		<div ng-init="names=['Amit', 'Akash', 'Anil', 'Param', 'Rahul']; address='sector-19'">
			<p ng-repeat="name in names">
				{{name | dashes}}
			</p>
			
			<br>
			<ul>
				<li ng-repeat="name in names" ng-bind="name"></li>
			</ul>
			
			{{address | nodashes}}
			
			
		</div>
	</body>
</html>