<html ng-app="myApp">
	<head> 
		<script src="../../angular.min.js"> </script>
	</head>
	<script>
	
		var app = angular.module("myApp", []);
		app.controller('myController' , function($scope) {
			$scope.todayDate = Date.now();
		});
	
	</script>
	<body>
		<div ng-controller = "myController">
			<br> without filter : Today date is {{todayDate}}
			
			<br> with filter : Today date is {{todayDate | date:'dd-MMM-yyyy'}}
			<br> with filter : Today date is {{todayDate | date:'dd-MM-yy'}}
			
			<br> longDate : Today date is {{todayDate | date:'longDate'}}
			<br> short : Today date is {{todayDate | date:'short'}}
			
			
			<br> Year is {{todayDate | date:'yyyy'}}
			<br> Month is {{todayDate | date:'MMM'}}
			<br> Date is {{todayDate | date:'dd'}}
			
			
		</div>
	</body>
</html>