<!DOCTYPE html>
<html>
	<script src="../../angular.min.js"> </script>
	<body>

		<div ng-app="myApp" ng-controller="namesCtrl">

		<ul>
		  <li ng-repeat="x in names | filter : 'J'">
			{{ x }}
		  </li>
		</ul>

		</div>

		<script>
		angular.module('myApp', []).controller('namesCtrl', function($scope) {
			$scope.names = [
				'Java',
				'J2EE',
				'Net',
				'PHP',
				'NodeJS',
				'JavaScript',
				'AngularJS'
			];
		});
		</script>

		<p>This example displays only the names containing the letter.</p>

	</body>
</html>
