<html ng-app="myApp">
	<head> 
		<script src="../../angular.min.js"> </script>
	</head>
	
	<script>
	
		var app = angular.module("myApp", []);
		app.controller('myController' , function($scope) {
			$scope.foodList = [
			
				{foodName:"Apple", url:'images/apple.png', group:"Fruits"},
				{foodName:"Banana", url:'images/banana.jpg', group:"Fruits"},
				{foodName:"Beans", url:'images/bean.png', group:"Vegetables"},
				{foodName:"Potato", url:'images/potato.png', group:"Vegetables"},
				{foodName:"Bread", url:'images/bread.png', group:"Grains"},
				{foodName:"Carrot", url:'images/carrot.png', group:"Vegetables"},
				{foodName:"Chicken", url:'images/chicken.png', group:"Meats"},
				{foodName:"Pork", url:'images/pork.png', group:"Meats"},
				{foodName:"Tomato", url:'images/tomato.png', group:"Vegetables"}
			];
			
			$scope.selectedFoodGroup="";
		});
	
	</script>
	<body>
		<div ng-controller = "myController">
		
			<div style="padding:10px">
				<p> Select a Food group to filter output</p>
				<select ng-model='selectedFoodGroup'>
					<option value="Fruits">Fruits</option>
					<option value="Vegetables">Vegetables</option>
					<option value="Grains">Grains</option>
					<option value="Meats">Meats</option>
					<option value="">All</option>
				</select>
			
				
			</div>
			<div>
				<ul ng-repeat = "food in foodList | filter:selectedFoodGroup">
					<li> 
						<div>
						
							<img ng-src="{{food.url}}"/>
							<div style="dispaly:inline">
								<h3 style="dispaly:inline">  "{{food.foodName}}" </h3>
								<p style="dispaly:inline">  Group : "{{food.group}}" </p>
							</div>
						</div>
					</li>
			</div>
		</div>
	</body>
</html>