<!DOCTYPE html>
<html>
	<script src="../../angular.min.js"> </script>
	<body>

		<div ng-app="myApp" ng-controller="namesCtrl">

			<p>Type Your Fav Language</p>

			<input type="text" ng-model="test">

			<ul>
			  <li ng-repeat="x in names | filter:test">
				{{ x }}
			  </li>
			</ul>

		</div>

		<script>
		angular.module('myApp', []).controller('namesCtrl', function($scope) {
			$scope.names = [
				'Java',
				'J2EE',
				'Net',
				'PHP',
				'NodeJS',
				'JavaScript',
				'AngularJS'
			];
		});
		</script>

		<p>The list will only consists of names matching the filter.</p>


	</body>
</html>
