<html ng-app="myApp">
	<head> 
		<script src="../../angular.min.js"> </script>
	</head>
	<script>
	
		var app = angular.module("myApp", []);
		app.controller('myController' , function($scope) {
			$scope.model = {
			
				'firstName':'John',
				'lastName':'Gupta',
				'dob': {
					'day'   : '01',
					'month' : 'January',
					'year'  : '1985'
				}
			};
		});
	
	</script>
	<body>
		<div ng-controller = "myController" ng-init="stockValue=2.364698888888888888887">
			{{stockValue | number}} <!-- this is simple decimal format-->
			<br>
			{{stockValue | number:6}} <!-- this is precision formatter-->
			<br>
			{{20 | number:6}} <!-- this is not precision number then it will add 000000-->
			<br>
			{{model | json}}
		</div>
	</body>
</html>