<!DOCTYPE html>
<html>
	<script src="../../angular.min.js"> </script>
	<body>

	<div ng-app="myApp" ng-controller="namesCtrl">

		<p>Looping with objects:</p>
		<ul>
		  <li ng-repeat="x in names | orderBy:myOrderBy | limitTo:val">
			{{ x.name + ', ' + x.country }}
		  </li>
		</ul>
		
		<br> 
		<input type="text" ng-model="val"></input>
		<button ng-click="orderByMe('name')">Click on my to short by Name</button>
		<button ng-click="orderByMe('Country',val)">Click on my to short by Country</button>

	</div>

	<script>
		angular.module('myApp', []).controller('namesCtrl', function($scope) {
			$scope.names = [
				{name:'Jani',country:'Norway'},
				{name:'Carl',country:'Sweden'},
				{name:'Margareth',country:'England'},
				{name:'Hege',country:'Norway'},
				{name:'Joe',country:'Denmark'},
				{name:'Gustav',country:'Sweden'},
				{name:'Birgit',country:'Denmark'},
				{name:'Mary',country:'England'},
				{name:'Kai',country:'Norway'}
				];
				
			$scope.orderByMe = function(value) {
					$scope.myOrderBy = value;
				}
		});
	</script>

	</body>
</html>
