<!DOCTYPE html>
<html>
	<script src="../../angular.min.js"> </script>
	<body>

		<p>Click the table headers to change the sorting order:</p>

		<div ng-app="myApp" ng-controller="namesCtrl">

		<table border="1" width="100%">
			<tr>
				<th ng-click="orderByMe('name')">Name</th>
				<th ng-click="orderByMe('country')">Country</th>
			</tr>
			<tr ng-repeat="x in names | orderBy:myOrderBy">
				<td>{{x.name}}</td>
				<td>{{x.country}}</td>
			</tr>
		</table>

		</div>

		<script>
			angular.module('myApp', []).controller('namesCtrl', function($scope) {
				$scope.names = [
					{name:'Krishana Murty',country:'Tamil Nadu'},
					{name:'Carl',country:'Sweden'},
					{name:'Margareth',country:'England'},
					{name:'Hege',country:'Norway'},
					{name:'Joe',country:'Denmark'},
					{name:'Amit',country:'Uttar Pradesh'},
					{name:'Birgit',country:'Denmark'},
					{name:'Mary',country:'England'},
					{name:'Kai',country:'Norway'}
				];
				$scope.orderByMe = function(x) {
					$scope.myOrderBy = x;
				}
			});
		</script>

	</body>
</html>
