<!doctype html>
<html>
   
   <head>
		<script src = "../angular.min.js"></script>
		<title> Accessing Array</title>
   </head>
   
   <body>
		<div ng-app="" ng-init="points=[2,4,6,8,10]">
			Third Element is {{points[4]}}
		</div>
   </body>
</html>