<!doctype html>
<html>
   
   <head>
		<script src = "../angular.min.js"></script>
		<title> Simple expression example</title>
   </head>
   
   <body>
		<div ng-app="" ng-init="num1=10; num2=38">
			<br>{{num1 * num2}}
			<br>{{num1 + num2}}
			<br>{{3-3}}
			<br>{{3%3}}
		</div>
   </body>
</html>