<!DOCTYPE html>
<html>
	<script src="../../angular.min.js"> </script>
	<script src="as_a_controller.js"></script>
	<body ng-app="myApp">


		<h1> First Controller : </h1>
		<br>

		<div ng-controller="myCtrl">
			value: {{value}} <br>
			show: {{show()}} <br>
		</div>
		<br>  
		<h1> Another Controller : </h1>
		<br>

		<div ng-controller="anotherCtrl as sssss">
			value: {{sssss.value}} <br>
			show: {{sssss.show()}} <br>
			
		</div>
	</body>
</html>
