<!DOCTYPE html>
<html>
	<script src="../../angular.min.js"> </script>
	<script src="shared_value_in_controllers.js"></script>
	
	<body ng-app="myApp">

		<h1> First Controller : </h1>
		<br>

		<div ng-controller="employeeA">
			First Name: {{firstName}} <br>
			Last Name: {{lastName}} <br>
			Company: {{companyName}} <br>
			Company: {{sharedName.orgName}} <br>
			<input type="text" ng-model="sharedName.orgName">
		</div>
		<br>  
		<h1> Second Controller : </h1>
		<br>

		<div ng-controller="employeeB">
			First Name: {{firstName}} <br>
			Last Name: {{lastName}} <br>
			Company: {{companyName}} <br>
			Company: {{sharedName.orgName}} <br>
			
			<input type="text" ng-model="sharedName.orgName">
			
		</div>
	</body>
</html>
