<!DOCTYPE html>
<html>
	<script src="../../angular.min.js"> </script>
	<!-- <script src="simpleController.js"></script> -->
	<body>

		<div ng-app="myApp" ng-controller="simpleController">
			First Name: {{firstName}} <br>
			Last Name: {{lastName}} <br>
			Full Name: {{firstName + " " + lastName}} <br>
			Full Name: {{fullName()}} <br>

		</div>
		
		<script>
			var app = angular.module('myApp', []);

			app.controller('simpleController', function($scope) {
				$scope.firstName = "Angular";
				$scope.lastName = "Learning";
				
				$scope.fullName = function() {
					return $scope.firstName  + " " + $scope.lastName;
				}
			});
		</script>

	</body>
</html>
