<!DOCTYPE html>
<html>
	<script src="../../angular.min.js"> </script>
	<!-- <script src="simpleController.js"></script> -->
	<body>

		<div ng-app="myApp" ng-controller="simpleController">
		
		Input Your Value: <input type="text" ng-model="originalValue"> <br>
		{{message}} <br>
	</div>

	<script>
		var app = angular.module('myApp', []);
		app.controller('simpleController', function($scope) {
			$scope.originalValue = "welcome";
			$scope.message = "";
			
			$scope.names = [
				'Java',
				'J2EE',
				'Net',
				'PHP',
				'NodeJS',
				'JavaScript',
				'AngularJS'
			];
			
			$scope.$watch('originalValue', function() {
				var match="";
				if($scope.originalValue != 'welcome') {
					$scope.message = "You need to revert the value";
					
					for(i = 0; i < 8; i++) {
						console.log("1111111 " + $scope.originalValue);
						console.log("2222222 " + $scope.names[i]);
						if($scope.originalValue == ($scope.names[i])) {
							match = $scope.names[i]
						
						}
						
					}
					
				}
				
				$scope.message = match;
				
				
			});
			
		});
	</script>

</body>
</html>
