<!doctype html>
<html>
   
   <head>
		<script src = "../angular.min.js"></script>
		<title> Accessing object property</title>
   </head>
   
   <body>
		<div ng-app="" ng-init="person={firstName:'Croma 11111', lastName:'Campus'}">
			First Name : {{person.firstName}}
			<br> Last Name : {{person.lastName}}
		</div>
   </body>
</html>