<!doctype html>
<html>
   
   <head>
		<script src = "../angular.min.js"></script>
		<title> Change value of text field</title>
   </head>
   
   <body >
		<div ng-app ng-init="myCol='red'">
		
			{{myCol}}

			<input style="background-color:{{myCol}}" ng-model="myCol" value="{{myCol}}">

		</div>
   </body>
</html>