<html ng-app="">
	<head> 
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"> </script>
	</head>
	
	<body ng-init="firstnumber=10; secondNumber=20; thirdNumber = firstnumber + secondNumber">
	
		 {{firstnumber + secondNumber}}
		 <p> {{thirdNumber}} </p>
		<p ng-bind="thirdNumber"> </p>
	</body>
	
</html>