<html ng-app="">
	<head> 
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"> </script>
	</head>
	
	<body ng-init="yourName='santosh'">
	
		Enter Your name : <input type="text" ng-model="yourName">
		{{yourName}}
	</body>
</html>