<!doctype html>
<html ng-app="testApp">
   
   <head>
		<script src = "../angular.min.js"></script>
		
		<title>ng-model directive example</title>
		<script>
		
			angular.module('testApp',[]).controller('testCTRL',function($scope)               
			{
				$scope.testingModel = "This is ModelData.";
				$scope.testingBind = "This is BindData.";
			});
		
		
		</script>
   </head>
   
   <body>
		<div ng-controller="testCTRL">
			Model-Data : <input type="text" ng-model="testingModel">
			<p>{{testingModel}}</p>
			Bind-Data :  <input type="text" ng-bind="testingBind">
			  <p ng-bind="testingBind"></p>
		</div>
	</body>
</html>