<html ng-app="">
	<head> 
		<script src="../../angular.min.js"> </script>
	</head>
	
	<body>
		<div ng-init="names=['Amit', 'Akash', 'Anil', 'Param', 'Rahul']">
			<p ng-repeat="name in names">
				{{name}}
			</p>
			
			<br>
			<ul>
				<li ng-repeat="name in names" ng-bind="name"></li>
			</ul>
		</div>
	</body>
</html>