<html ng-app="">
	<head> 
		<script src="../../angular.min.js"> </script>
	</head>
	
	<body>
		<div ng-init="employees=[{empName:'Rakesh', salary:10.2}, {empName:'Amit', salary:7.2}, {empName:'Akash', salary:27.2}]">
			<p ng-repeat="employee in employees">
				{{employee.empName}} {{" "}} {{employee.salary}}
			</p>
		</div>
	</body>
</html>