<!DOCTYPE html>
<html>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<body>
		<div ng-app="myApp" ng-controller="myCtrl">

			<p>A custom service with a method that square given number</p>

			<h1>{{squareValue}}</h1>

		</div>

		

		<script>
			var app = angular.module('myApp', []);

			app.service('square', function() {
				this.makeSquare = function (x) {
					return x * x;
				}
			});
			
			app.controller('myCtrl', function($scope, square) {
			  $scope.squareValue = square.makeSquare(11.3);
			});
		</script>

	</body>
</html>
