<!DOCTYPE html>
<html>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<body>

		<div ng-app="myApp" ng-controller="customersCtrl"> 

		<table border=1>
		   <tr ng-repeat="x in records">
			<td>{{ x.Name }}</td>
			<td>{{ x.City }}</td>
			<td>{{ x.Country }}</td>
		  </tr>
		</table>

		</div>

		<script>
			var app = angular.module('myApp', []);
			app.controller('customersCtrl', function($scope, $http) {
			  $http.get("https://www.w3schools.com/angular/customers.php").then(function (response) {
				  $scope.records = response.data.records;
			  });
			});
		</script>

	</body>
</html>
