<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
	<p>The url of this page is:</p>
	<h3>{{pageUrl}}</h3>
</div>

	<script>
		var app = angular.module('myApp', []);
		
		app.controller('myCtrl', function($scope, $location) {
			$scope.pageUrl = $location.absUrl();
		});
	</script>

</body>
</html>
