<!DOCTYPE html>
<html>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<body>

		<div ng-app="myapp" ng-controller="scoreboardCtrl"> 
			{{scoreboard}}
		</div>
		
		
		<script>
		
			var app = angular.module("myapp", []);
			app.controller("scoreboardCtrl", function($scope, $timeout) {
			
				$scope.scoreboard = "match started......";
				
				$timeout(function () {
					  $scope.scoreboard = "total score = 120, wicket = 0, over = 20";
				  }, 5000);
			
			});
			
		</script>

	</body>
</html>
