<html ng-app="app">
	<head>
		<title> Employee Information System </title>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script> -->
		<script src = "../../angular.min.js"></script>
		<style>
		
			.loginForm {
				background-color: lightblue;
				width:35%;
				margin-top:200px;
				border:1px;
			}
			
			.addProductForm {
				background-color: lightblue;
				width:35%;
				margin-top:200px;
				border:1px;
			}
			
			.loginFailed {
				background-color: red;
				font-family: Arial;
				color: white;
			}
		
		</style>
		
		
	</head>
	
	<body ng-controller="initialLoaderCtrl">
		<center>
		<!-- login form start -->
			<div class="loginForm" ng-show="isLoginForm" ng-controller="loginFormCtrl">
				<form>
					
					<table>
						<tr>
							<td colspan="2" align="center"><label>Admin Login Form</label></td>
							
						</tr>
						<tr>
							<td><label>Username</label></td>
							<td><input type="text" ng-model="userName" placeholder="Input your username" required="required"/></td>
						</tr>
						<tr>
							<td><label>Password</label></td>
							<td>
								<input type="{{showPassword ? 'text' : 'password'}}" ng-model="password" placeholder="Input your password" required="required"/>
								<input type="checkbox" ng-model="showPassword" ng-checked="showPassword" />
								<label>Show Password</label>
							</td>
						</tr>
						
					</table>

				  <div class="loginFailed" ng-bind="loginFailed"></div>

				  <div>
					<button ng-click="login()">Log in</button>

					&nbsp;&nbsp;
					<a href="#"> Forgot Password? </a>
				  </div>

				</form>

			</div>
			<!-- login form Ends here -->
			<!-- Add Product form start -->
			<div class="addProductForm" ng-show="isAddProductForm" ng-controller="addProductFormCtrl">
				<table>
					<tr>
						<td><label>Product Categories</label></td>
						<td>
							<select ng-model='selectedCategory' ng-options = "cat for cat in categories"></select>{{selectedCategory}}
							<!--<a href="#"> <i>Add Categories</i></a> -->
						</td>
					</tr>
					<tr>
						<td><label>Product Manufactures</label></td>
						<td>
							<select ng-model='selectedManufacture' ng-options = "manufactureObj.manufacture for manufactureObj in manufactures | filter:selectedCategory"></select>
							{{selectedManufacture.manufacture}}
						</td>
					</tr>
					<tr>
						<td><label>Product Manufactures</label></td>
						<td>
							<input type="text" ng-model="addr" placeholder="Input Address" />
						</td>
					</tr>
					<tr>
						<td><label>Product Manufactures</label></td>
						<td>
							<input type="text" ng-model="name" placeholder="Input Name" />
						</td>
					</tr>
					<tr>
						<td><label>Product Manufactures</label></td>
						<td>
							<input type="text" ng-model="name" placeholder="Input Name" />
						</td>
					</tr>
					<tr>
						<td><label>Product Manufactures</label></td>
						<td>
							<input type="text" ng-model="name" placeholder="Input Name" />
						</td>
					</tr>
					<tr>
						<td><button ng-click="add()">Add Product</button></td>
						<td><button ng-click="reset()">Reset Form</button></td>
					</tr>
				</table>
			</div>
			<!-- Add Product form Ends here -->
			<!-- Show Products form start -->
			<div class="showProductsForm" ng-show="isShowProductsForm">

				<table border="1" ng-controller="ctrl" style="width:50%">
					<tr>
						<th>Name</th>
						<th>Address</th>
						<th>Actions</th>
					</tr>
					<tr ng-repeat="user in users">
						<td>{{ user.name }}</td>
						<td>{{ user.addr }}</td>
						<td><button ng-click="edit(user)">Edit</button> | <button ng-click="delete('{{user.name}}')">Delete</button></td>
					</tr>
					</table>
				<br>
			</div>
			<!-- Show Products form Ends here -->
			
		</center>
		
		<script>
		
			var app = angular.module('app',[]);
			
			// initial Load Ctrl
			app.controller('initialLoaderCtrl',function($scope, $rootScope, $log) {
				$rootScope.isLoginForm = true;
				$rootScope.isAddProductForm = false;
				$rootScope.isShowProductsForm = false;
			});
			
			// login Form Ctrl
			app.controller('loginFormCtrl',function($scope, $rootScope, $log) {
				$scope.loginFailed = "";
			
				$scope.dbUserName = "admin";
				$scope.dbPassword = "admin";
				
				$scope.userName = "";
				$scope.password = "";
				
				$scope.login = function() {
					if(angular.equals($scope.dbUserName, $scope.userName) && angular.equals($scope.dbPassword, $scope.password)) {
						$rootScope.isLoginForm = false;
						$rootScope.isAddProductForm = true;
					}
					else {
						$scope.loginFailed = "Username OR Password is wrong. please try again !!";
					}
				}
			});
			// add product Form Ctrl
			app.controller('addProductFormCtrl',function($scope, $rootScope, $log) {
				$scope.manufacture = "";
				$scope.selectedCategory = "";
				$scope.selectedManufacture = "";
				$scope.categories = ["Electronics", "Apparel", "Shoes"];
				$scope.manufactures = [
										{category:"Electronics", manufacture:"Sony"},
										{category:"Electronics", manufacture:"LG"},
										{category:"Electronics", manufacture:"Samsung"},
										
										{category:"Apparel", manufacture:"Flying Machine"},
										{category:"Apparel", manufacture:"Levi's"},
										{category:"Apparel", manufacture:"Peter England"},
										{category:"Apparel", manufacture:"Arrow"},
										{category:"Apparel", manufacture:"Alen Solly"},
										{category:"Apparel", manufacture:"Polo"},
										
										{category:"Shoes", manufacture:"PUMA"},
										{category:"Shoes", manufacture:"Lancer"},
										{category:"Shoes", manufacture:"Adidas"},
										{category:"Shoes", manufacture:"Nike"},
										{category:"Shoes", manufacture:"Red Tape"}
									   ];
			});
			
			
			app.controller('ctrl',function($scope, $rootScope, $log) {
				$scope.users = [
					{name:'Dipyan',addr:'Birati'},
					{name:'Shibaji',addr:'Bishorpara'}
				];

				$rootScope.add = function(){
					if(angular.isDefined($rootScope.name) && angular.isDefined($rootScope.addr) && $rootScope.name!='' && $rootScope.addr !='')
						$scope.users.push({name: $rootScope.name, addr: $rootScope.addr});

					$rootScope.name ='';
					$rootScope.addr ='';
					$log.log('Add Function Works');
				}

				$scope.delete = function(val) {
					$scope.users.splice(val, 1);
				}

				$scope.edit = function(val) {
					$rootScope.id = val.name;
					$rootScope.name = val.name;
					$rootScope.addr = val.addr;
				}

				$rootScope.save = function() {
					for(var i in $scope.users){
						if($scope.users[i].name == $rootScope.id){

							$scope.users[i].name = $rootScope.name;
							$scope.users[i].addr = $rootScope.addr;
						}
					}
					$rootScope.name ='';
					$rootScope.addr ='';
				}
			});
		</script>
	</body>
</html>